<!DOCTYPE html>
<html lang="en" class="js">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'/>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Diff parser and pretty html generator">
    <meta name="keywords" content="diff2html,git,diff,unified,pretty,html,css,javaccript">
    <meta name="author" content="Rodrigo Fernandes (rtfpessoa)">

    <title>diff2html</title>

    <!-- search engine -->
    <link rel="canonical" href="https://diff2html.xyz">

    <!-- open graph -->
    <meta property="og:title" content="diff2html">
    <meta property="og:type" content="website">

    <meta property="og:description"
          content="Diff parser and pretty html generator.">

    <meta property="og:url" content="https://diff2html.xyz">
    <meta property="og:site_name" content="diff2html">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="main.min.css" rel="stylesheet">

{{#assets}}
{{{assets}}}

{{/assets}}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-78351861-2', 'auto');
      ga('send', 'pageview');

    </script>
</head>
<body class="template-index {{extraClass}}">
<div class="swag-line">

    <div class="container">

{{{content}}}

    </div>

</div>

<!-- General JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "SoftwareSourceCode",
  "name": "diff2html",
  "author": "Rodrigo Fernandes",
  "image": "https://diff2html.xyz/img/snapshot-3.png",
  "description": "Diff parser and pretty html generator.",
  "codeRepository": "https://github.com/rtfpessoa/diff2html",
  "programmingLanguage": "JavaScript",
  "runtimePlatform": "Node >= 0.12",
  "mainEntityOfPage": "https://diff2html.xyz/"
}
</script>

{{#scripts}}
{{{scripts}}}

{{/scripts}}
</body>
</html>
